<table class="ui striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Locale</th>
      <th>Published</th>
      <th>Author</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <%= render :partial => 'post', :collection => @posts %>
</table>
<%= render "/refinery/admin/sortable_list",
           :continue_reordering => (defined?(continue_reordering) ? continue_reordering : true) %>
