<table class="ui striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Locales</th>
      <th>Actions</th>
    </tr>
  </thead>
  <%= render :partial => 'category', :collection => @categories %>
</table>

<%= render "/refinery/admin/sortable_list",
           :continue_reordering => (defined?(continue_reordering) ? continue_reordering : true) %>
