<table class="ui striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>
      <th>Actions</th>
    </tr>
  </thead>
  <%= render :partial => 'comment', :collection => @comments %>
</table>

<%= render "/refinery/admin/sortable_list",
           :continue_reordering => (defined?(continue_reordering) ? continue_reordering : true) %>
